.orange_captcha_wrapper { 
    display: flex;
    flex-direction: column;
    width: 311px;
}

.orange_captcha_wrapper.hidden {
    display: none;
}
.orange_captcha_wrapper .captcha {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height:32px;
} 

.orange_captcha_wrapper .captcha .element * {
    width:260px;
    height:32px;
}

.orange_captcha_wrapper .captcha .element.hidden {
    display: none;
}

.orange_captcha_wrapper .captcha .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    border-width:1px 1px 1px 0;
    border-style: solid;
    border-color: #000;
    background: #FFF;
}

.orange_captcha_wrapper .captcha .controls a {
    width: 18px;
    margin:0 3px;
    display: flex;
}

.orange_captcha_wrapper .captcha .controls a img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

.orange_captcha_wrapper .captcha .controls a[data-action="refresh"] {
    width: 14px;
}

.orange_captcha_wrapper input {
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0 10px;
}

.orange_captcha_wrapper .wpcf7-not-valid-tip {
    position: relative !important;
    left:inherit !important;
    top:inherit !important;
    transform:inherit !important;
}